<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this configuration -->
        <setting name="cacheEnabled" value="false"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="5"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
        <!--Log4j 输出日志配置-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!-- 包的别名 -->
    <typeAliases>
        <package name="jk.mybatis.simple.model"/>
    </typeAliases>
    <!--配置数据库连接-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">

            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/my_demo?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!--mybatis的SQL语句和映射配置文件-->
    <mappers>
        <mapper resource="jk/mybatis/simple/mapper/CountryMapper.xml"/>
        <mapper resource="jk/mybatis/simple/mapper/SysUserMapper.xml"/>
        <mapper resource="jk/mybatis/simple/mapper/SysRoleMapper.xml"/>
        <mapper resource="jk/mybatis/simple/mapper/SysPrivilegeMapper.xml"/>
        <mapper resource="jk/mybatis/simple/mapper/SysUserRoleMapper.xml"/>
        <mapper resource="jk/mybatis/simple/mapper/SysRolePrivilegeMapper.xml"/>
    </mappers>
</configuration>